/* RESET global */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

@font-face {
  font-family: "Squid Game";
  src: url(./assets/Game\ Of\ Squids.ttf) format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url(./assets/Poppins-Regular.ttf) format("truetype");
}

body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(#ed1b76, #000000);
}

.title {
  color: #ffffff;
  font-family: Squid Game;
  text-align: center;
  font-size: 50px;
}

.container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-header {
  color: #ffffff;
  font-family: Poppins;
  font-size: 20px;
  display: flex;
  column-gap: 100px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#start {
  background-color:#ed1b76;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#start:hover {
  background-color: #037a76;
}

.card {
  perspective: 1000px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  gap: 10px;
  align-items: center;
  perspective: 1000px;
}

.cardfront {
  height: 175px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card.flipped .cardfront  {
  transform: rotateY(180deg);
}
.cardfront:active {
  /*AAAAAA:https://marina-ferreira.github.io/tutorials/js/memory-game.pt-br/ */
  transform: scale(0.97);
}

.cardfront:hover {
  cursor: pointer;
}

.gamecard {
  height: 175px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
}

.cardback {
  height: 175px;
  width: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.cardback:active {
  /*AAAAAA:https://marina-ferreira.github.io/tutorials/js/memory-game.pt-br/ */
  transform: scale(0.97);
}

.cardback:hover {
  cursor: pointer;
}
